<!-- <p>All the pizzas!</p> -->

<% @pizzas.each do |pizza| %>
  <p><span class="label">Name:</span> <%= pizza.pretty_name() %></p>
  <p><span class="label">Order:</span> <%= pizza.quantity %> x <%= pizza.topping %></p>
  <p><a href='/pizzas/<%= pizza.id %>'>Show Order</a></p>
  <hr/>
  <!-- ^ horizontal rule -->
<% end %>