<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel = 'stylesheet' href = '/style.css'>
</head>
<body>
  <nav>
    <ul>
      <br/>
      <li><a href='/pizzas/new'>New Order</a></li>
      <br/>
      <li><a href='/pizzas'>View Pizza Orders</a></li>
      <br/>
      <hr/>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>